:root {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--background-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  list-style: initial;
  margin-block-end: 0;
  padding-inline-start: 1.5em;
}

li::marker {
  font-size: 0.75em;
}

table {
  margin-block-start: 1em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: start;
}

th {
  padding: 0.75rem 0.5em;
  text-align: start;
  background-color: var(--background-secondary);
}

th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

td {
  padding: 0.5em;
  border-bottom: 2px solid var(--background-secondary);
}

.shiki,
.shiki span {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  background-color: var(--background-secondary) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #FDF2FD;
    --background-secondary: #f0e4f0;
    --text-primary: #040104;
    --text-secondary: #6b5a6b;
    --text-highlight: #c66d00ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #040104;
    --background-secondary: #1a111a;
    --text-primary: #FDF2FD;
    --text-secondary: #b89ab8;
    --text-highlight: #ffa332ff;
  }

  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
